# Excel & Parquet dependencies
openpyxl
pyxlsb
pyarrow
fastparquet
tabulate

# Common data packages
pandas
numpy
scipy
matplotlib
seaborn
scikit-learn

# Testing
pytest
pytest-cov

# Logging
loguru

psutil

adjustText

pyyaml